*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font: bold 14px Arial, sans-serif;
}

html{
	height: 100%;
	background: white;
	/*径向渐变，circle 表示圆形，ellipse 表示椭圆形*/
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}


#calculator{
	width: 325px;
	height: auto;

	margin: 100px auto;
	padding: 20px 20px 9px;

	background: #9dd2ea;
	/*线性渐变*/
	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 3px;
	/*双重阴影*/
	box-shadow: 0 4px #009de4, 0 10px 15px rgba(0,0,0,0.2);
}
/*重复*/
/*.top span.clear{
	float: left;
}*/
.top .screen{
	width: 212px;
	height: 40px;
	float: right;
	padding: 0 10px;
	background: rgba(0,0,0,0.2);
	border-radius: 3px;
	/*inset:将外部阴影改为内部阴影*/
	box-shadow: inset 0 4px rgba(0,0,0,0.2);

	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	text-align: right;
	letter-spacing: 1px;
}

.keys, .top{
	overflow: hidden;
}

.keys span, .top span.clear{
	width: 66px;
	height: 36px;

	float: left;
	position: relative;
	top: 0;
	cursor: pointer;

	background: white;
	border-radius: 3px;
	box-shadow: 0 4px rgba(0,0,0,0.2);
	margin: 0 7px 11px 0;
	color: #888;
	line-height: 36px;
	text-align: center;

    /*文本不可以选中，text:可以选择文本*/
	user-select: none;

	transition: all 0.2s ease;
}

.keys span.operator{
	background: #fff0f5;
	margin-right: 0;
}

.keys span.eval{
	background: #f1ff92;
	box-shadow: 0 4px #9da853;
	color: #888e5f;
}

.top span.clear{
	background: #ff9fa8;
	box-shadow: 0 4px #ff7c87;
	color: white;
}

/*鼠标悬浮效果*/
.keys span:hover{
	background: #9c89f6;
	box-shadow: 0 4px #6b54d3;
	color: white;
}

.keys span.eval:hover{
	background: #abb850;
	box-shadow: 0 4px #717a33;
	color: #fff;
}

.top span.clear:hover{
	background: #f68991;
	box-shadow: 0 4px #d3545d;
	color: white;
}

/*鼠标按压效果*/
.keys span:active{
	box-shadow: 0 0 #6b54d3;
	top: 4px;
}
.keys span.eval:active{
	box-shadow: 0 0 #717a33;
	top: 4px;
}
.top span.clear:active{
	box-shadow: 0 0 #d3545d;
	top: 4px;
}