body{
	background: #ccc;
}

#cloud{
	width: 350px;
	height: 120px;
	background: #f2f9fe;
	
	/*linear-gradient() 函数用于创建一个线性渐变的 "图像"*/
	background: :-webkit-linear-gradient(top,#f2f9fe 5%, #d6f0fd 100%);
	background: :-moz-linear-gradient(top,#f2f9fe 5%, #d6f0fd 100%);
	background: :-ms-linear-gradient(top,#f2f9fe 5%, #d6f0fd 100%);
	background: :-o-linear-gradient(top,#f2f9fe 5%, #d6f0fd 100%);
	background: :linear-gradient(top,#f2f9fe 5%, #d6f0fd 100%);
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    position: relative;
    margin: 120px auto;

}

#cloud:after, #cloud:before{
	content: '';
	position: absolute;
	background: #f2f9fe;

}
#cloud:after{
	width: 100px;
	height: 100px;
	top: -50px;
	left: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
	border-radius: 50px;

}
#cloud:before{
	width: 180px;
	height: 180px;
	top: -90px;
	right: 50px;

	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;

}

/*阴影*/
.shadow{
	width: 350px;
	position: absolute;
	bottom: -10px;
	background: #000;
	z-index: -1;
    
    -webkit-box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
	box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}